body {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
}

.App {
  display: flex;
  flex-direction: row;
}

nav {
  display: flex;
  background: #282c34;
  height: 100vh;
  flex-direction: column;
  min-width: 150px;
  text-align: left;
  padding-left: 20px;
}
.board {
  padding-left: 30px;
  text-align: left;
  background: #fff;
  flex: 1;
  overflow: hidden;
}

nav h1 {
  color: #ffffff;
}
nav ul {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style: none;
  padding: 5px;
  margin: 0;
  width: 100%;
  color: #ffffff;
}

nav ul li a {
  color: inherit;
  text-decoration: none;
}
